@import url('https://fonts.googleapis.com/css?family=Girassol|Montserrat:400,400i,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

h1 {
	font-family: 'Henny Penny', cursive;
	font-size: 3em;
}
h2 {
	font-family: 'Henny Penny', cursive;
	color: blue;
	background-color: white;	
}
p {
	font-family: 'Crimson Text', serif;
}
li {
	font-family: 'Crimson Text', serif;
}
i {
	color: blue;
	font-size: 1.5em;
}

nav ul {
	list-style-type:none;
}
nav li{
	display:inline;
}
nav a{
	text-decoration:none;
	padding-right:10px;
}
nav a:link{
	color:purple;
}
nav a:visited{
	color:purple;
}
nav a:hover{
	color:orange;
}
nav a:active{
	color:red;
}
nav{
	background-color:#8bc4e8;
}
.desktop{
	display:block;
}
.mobile{
	display:none;
}
/* CSS for Tablets */
@media only screen and (max-width:1024px){
	h1{
		font-size: 2em;
	}
/* CSS for Smartphones */
@media only screen and (max-width:760px){
	h1{
		font-size: 1.5em;
	}